:root{
    --white: #ffffff;
    --white2: #FFF5E0;
    --black: #000000;
    --blue: #141E46;
    --red: #FF6969;
    

    --sm: 14px;
    --md: 16px;
    --lg: 18px;


}


body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(#FF6969,#BB2525)
    
}
ul{
    align-items: center;
    list-style: none;
}
a{
    padding: 1.5rem;
    text-decoration: none;
    font-size: var(--md);
    font-weight: 500;
    color: var(--black);
}
header{
    position: relative;
    width: 100%;
    height: 100px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;

    background-color: var(--white2);
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.logo-menu{
    background-color: var(--white);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    
}



.icon-menu{
    display: none;
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
}


.menu ul li{
    display: inline-block;
}
.menu ul li a:hover{
    color: var(--blue);
    font-size: var(--lg);
    font-weight: bold;
    padding: 1rem;
    border: solid 1px;
    border-color: var(--black);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: .3s;
}
.logo-menu img{
    width: 80px;
}


.login-boton-menu{
    height: auto;
    width: 80px; 
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: .5s;

}

.form-login{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    transition: .5s;
}

.logo{
    width: 150px;
    justify-self: center;
    margin-bottom: 20px;
    display: none;
}

.titulo{
    font-size: var(--lg);
    margin-bottom: 15px;
    text-align: center;
}
.subtitulo{
    font-size: var(--md);
    text-align: center;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 30px;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;

}
.input{
    background-color: var(--white2);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
}
.primary-button{
    border: none;
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    font-size: var(--lg);
    height: 50px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.login-boton{
    
    margin-top: 15px;
    margin-bottom: 30px;
}
.login-boton a{
    color: var(--white);
    font-size: var(--lg);
    background-color: transparent;
}
.login-boton a:hover{
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.login-boton:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--red);
}

/* Email Send */
.email-imagen{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white2);
    justify-self: center;
}
.email-imagen img{
    width: 150px;
}
.parrafo{
    justify-self: center;
    font-size: var(--md);
    font-weight: 300;
}
.parrafo a{
    font-size: var(--md);
    font-weight: bold;
    text-decoration: none;
    color: var(--red)
    
}
.parrafo a:hover{
    color: var(--blue);
    transition: .3s;
}

@media (max-width: 850px){
    .logo{
        display: block;
    }
    .login{
        background-color: var(--white);
    }
    .icon-menu{
        display: flex;
    }
    .icon-menu img{
        transition: .5s;
    }
    .icon-menu img.rotar{
        transition: .5s;
        transform: rotate(45deg);
    }
    .menu ul{
        background-color: var(--white);
        position: absolute;
        top: 90px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        transform: translate(-100%);
        transition:transform .5s;

    }

    .menu ul.vistamenu{
        transform: translate(0);
    }
    .menu ul li{
        
        padding-top: 10px;
    }
}
@media (min-width: 641px){
    .login{
        background: linear-gradient(#FF6969,#BB2525)
    }
    .form-login{
        background-color: var(--white);
        padding: 30px;
        border-radius: 8px;
        
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    
}


